<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuizBit.Entity.Properties.Settings.app_quizbit_cloudConnectionString" connectionString="Data Source=118.27.193.68;Initial Catalog=app_quizbit_cloud;User ID=khanhjm;Password=!Meohen1232321;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
